<!doctype html>
<html lang="en">
  <head>
    <title>{{job.title}} Job Application</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/fluency/256/python.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!-- Custom styles for this template -->
     {% include 'style.css' %}
  </head>
  <body>
      
  {% include 'nav_bar.html' %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{job.title}} job application</h1>
    </div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-12  col-lg-6">
        <img src="{{job.img}}" class="d-block mx-lg-auto img-fluid" style="height:350px;object-fit: cover" alt="Bootstrap Themes" width="700" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Become our new {{job.title}}</h1>   
  
      <ul class="list-group">
          {% if job.salary == "" %}
  <li class="list-group-item active" aria-current="true">The salary to be decided</li>
        {% else %}
<li class="list-group-item active" aria-current="true">{{job.salary}}</li>
        {% endif %}
  <li class="list-group-item"><b>Region:</b> {{job.region}}</li>
  <li class="list-group-item"><b>Seniority:</b> {{job.seniority}}</li>
  <li class="list-group-item"><b>Work Hrs:</b> {{job.working_hours}}</li>
</ul>


        </div>
      </div>
  <div class="row-lg g-4 py-2 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2">Responsibilities</h3>
        <p>{{job.responsibilities}}</p>     
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2">Requirements</h3>
        <p>{{job.requirements}}</p>
      </div>
    </div>
   {% include 'application_form.html' %}
   
    </div>
           
  </div>

       {% include 'footer.html' %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>